<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Before we start...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Before we start...</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col  class="ion-text-center ion-no-padding">
        <img width="80%" src="assets/checklistAfterRegister.svg" alt="checklist">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>... do we need some Information´s</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <form [formGroup]="userInformationForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12" offset-sm="5" class="ion-text-center ion-no-padding">
          <ion-item style="width: 100%">
            <ion-input label="First Name" label-placement="floating" formControlName="firstname"
                       placeholder="Max"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" offset-sm="5" class="ion-text-center ion-no-padding">
          <ion-item style="width: 100%">
            <ion-input label="Last Name" type="text" label-placement="floating" formControlName="lastname"
                       placeholder="Mustermann"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="5" class="ion-text-center ion-no-padding">
          <ion-item style="width: 100%" id="open-weight-picker">
            <ion-label>Weight: {{userInformationForm.controls['weight'].value}} kg</ion-label>
            <ion-picker
              trigger="open-weight-picker"
              [columns]="pickerWeightColumns"
              [buttons]="pickerButtons"
              (didDismiss)="onDidMissPicker($event, 'weight')"
            ></ion-picker>
          </ion-item>
        </ion-col>
        <ion-col size-sm="6" offset-sm="5" class="ion-text-center ion-no-padding">
          <ion-item style="width: 100%" id="open-height-picker">
            <ion-label>Height: {{userInformationForm.controls['height'].value}} cm</ion-label>
            <ion-picker
              trigger="open-height-picker"
              [columns]="pickerHeightColumns"
              [buttons]="pickerButtons"
              (didDismiss)="onDidMissPicker($event, 'height')"
            ></ion-picker>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size-sm="6" offset-sm="3" class="ion-text-end ion-padding">
          <ion-button class="ion-margin-start" style="border-radius: 50px" (click)="onClick()" shape="round"
                      expand="block"
                      [disabled]="!userInformationForm.valid">Start now!
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
